{{ .Format "02" }}

{{ with .Format "01"}}
  {{ if eq . "01" }}
    {{ "Jan, " }}
  {{ end }}

  {{ if eq . "02" }}
    {{ "Fev, " }}
  {{ end }}

  {{ if eq . "03" }}
    {{ "Mar, " }}
  {{ end }}

  {{ if eq . "04" }}
    {{ "Abr, " }}
  {{ end }}

  {{ if eq . "05" }}
    {{ "Mai, " }}
  {{ end }}

  {{ if eq . "06" }}
    {{ "Jun, " }}
  {{ end }}

  {{ if eq . "07" }}
    {{ "Jul, " }}
  {{ end }}

  {{ if eq . "08" }}
    {{ "Ago, " }}
  {{ end }}

  {{ if eq . "09" }}
    {{ "Set, " }}
  {{ end }}

  {{ if eq . "10" }}
    {{ "Out, " }}
  {{ end }}

  {{ if eq . "11" }}
    {{ "Nov, " }}
  {{ end }}

  {{ if eq . "12" }}
    {{ "Dez, " }}
  {{ end }}
{{ end }}

{{ .Format "2006" }}