<!-- Sidebar Container -->
<div class="
    col-lg-3 col-lg-offset-0
    col-md-3 col-md-offset-0
    col-sm-12
    col-xs-12
    sidebar-container
">
    <section class="visible-md visible-lg">
        <h5><a href="{{ .Permalink | relLangURL }}">SOBRE O BLOG</a></h5>
        <div class="short-about">
            {{ with .Site.Params.mascot }}
            <img src="{{ . | relURL }}" alt="ia" style="width: 60%;" />
            {{ end }}
            <b>{{ .Site.Params.SEOTitle }}</b>
            {{ with .Site.Params.description }}
            <p>{{ . }}</p>
            {{ end }}
        </div>
    </section>
    <!-- Featured Tags -->
    {{ if .Site.Params.featured_tags }}
    <section>
        <hr>
        <h5>TAGS EM DESTAQUE</h5>
        <div class="tags">
            {{ $featured_condition_size := .Site.Params.featured_condition_size }}
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            {{ if gt (len $taxonomy.Pages) $featured_condition_size }}
            <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                {{ $name }}
            </a>
            {{ end }}
            {{ end }}
        </div>
    </section>
    {{ end }}

    <section class="visible-md visible-lg">
        <hr>
        <h5><a href="/authors">AUTORES</a></h5>
        <div class="short-about">
            <ul class="list-inline">
                {{ range ($.Site.GetPage "taxonomyTerm" "authors").Pages }}
                <li>
                    <a href="{{ .Permalink }}">
                        <img width="100px" src="{{ .Params.image }}" alt="avatar"
                            style="cursor: pointer; border-radius: 10px;" />
                        <b>{{ .Params.name }}</b>
                    </a>
                    <ul class="list-inline">
                        {{ with .Params.resume }}
                        <li>
                            <a href='{{ . }}' title="Resume/ Portifolio" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.email }}
                        <li>
                            <a href="mailto:{{ . }}" title="e-mail">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}

                        {{ with .Params.twitter }}
                        <li>
                            <a href="{{ . }}" title="Twitter">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.facebook }}
                        <li>
                            <a target="_blank" href="{{ . }}" title="Facebook">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.github }}
                        <li>
                            <a target="_blank" href="{{ . }}" title="Github">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.gitlab }}
                        <li>
                            <a target="_blank" href="{{ . }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.git }}
                        <li>
                            <a target="_blank" href="{{ . }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-git fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.linkedin }}
                        <li>
                            <a target="_blank" href="{{ . }}" title="Linkedin">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.medium }}
                        <li>
                            <a target="_blank" href="{{ . }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.stackoverflow }}
                        <li>
                            <a target="_blank" href="{{ . }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.reddit }}
                        <li>
                            <a target="_blank" href="{{ . }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-reddit fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.mastodon }}
                        <li>
                            <a target="_blank" href="{{ . }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-mastodon fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.keybase }}
                        <li>
                            <a target="_blank" href="{{ . }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-keybase fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.xing }}
                        <li>
                            <a target="_blank" href="{{ . }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-xing fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.instagram }}
                        <li>
                            <a target="_blank" href="{{ . }}" title="Instagram">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.flickr }}
                        <li>
                            <a target="_blank" href="{{ . }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.deviantart }}
                        <li>
                            <a target="_blank" href="{{ . }}" title="DeviantArt">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-deviantart fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.soundcloud }}
                        <li>
                            <a target="_blank" href="{{ . }}" title="Soundcloud">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Params.whatsapp }}
                        <li>
                            <a target="_blank" href="https://api.whatsapp.com/send?phone={{ . }}&amp;text=Tudo+bom%3F+Encontrei+seu+contato+atrav%C3%A9s+do+blog+intelig%C3%AAncia+das+coisas." title="Whatsapp">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </li>
                <hr>
                {{ end }}
            </ul>
        </div>
    </section>
</div>